"*":
  "exception-reporting":
    userId: "33582a95-1826-d00b-6d5e-eba01cd628c7"
  welcome:
    showOnStartup: false
  core: {}
  editor:
    invisibles: {}
    fontSize: 11
  autosave:
    enabled: true
  "save-session":
    dataSaveFolder: "/Users/yoshi/.atom/packages/save-session/projects"
  "autocomplete-plus": {}
